PORT=8080
DATABASE_URL=mongodb+srv://user:password@cluster.mongodb.net/
JWT_PUBLIC_KEY=your-rsa-public-key-pem-here
ALLOWED_ORIGINS=http://localhost:3000
RUBE_OWID_NEXT_URL=http://localhost:4003/rube
